/* Write your CSS code here */
.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-img {
  width: 150px;
}
.link-text {
  color: #551e53;
}
@media (min-width: 768px) {
  .link-img {
    width: 250px;
  }
  .link-text {
    font-size: 60px;
  }
}
